@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

/* *,*::before,::after{
    box-sizing: border-box;
} */

body {
    height: 100%;
    width: 100%;
    margin: 0;
    color: white;
    box-sizing: border-box;
    background-color: #242424;
    font-size: 120px;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.top {
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 7vh;
    padding: 0.2em 0.5em;
    font-size: 0.5rem;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 100;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.items {
    margin: 0 auto;
}

nav ul li,
.menu-btn {
    list-style-type: none;
    display: inline;
    padding: 0 0.5em;
}

.btn {
    /* background-color: rgba(255, 255, 255, 0.5); */
    background-color: #EC5C8C;
    /* font-weight: bold; */
    font-size: 0.9rem;
    padding: 0.5rem 0.7rem;
    text-align: center;
    /* border: 0.3rem solid transparent; */
    border-radius: 1rem;
}

.btn:hover {
    background-color: #ffffff;
    color: #EC5C8C;
    /* border:0.3rem solid #37745B; */
}

.cv-btn {
    margin-top: 1rem;
    /* background-color: rgba(255, 255, 255, 0.5); */
    background-color: #EC5C8C;
    color: white;
    font-weight: bold;
    padding: 1rem 5rem;
    text-align: center;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 1.2rem;
    width: 25%;
}

.cv-btn:hover {
    background-color: #ffffff;
    color: #EC5C8C;

}

.cv-btn a:hover {
    background-color: #ffffff;
    color: #EC5C8C;
}

button a {
    transition: 0.4s;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 0 0.5em;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 500;
}

nav ul li a {
    transition: 0.4s;
    font-size: 1.2rem;
    padding: 0 1.5em;
}

nav ul li a:hover {
    color: #EC5C8C;
}

.header {
    /* display: flex; */
    margin: 0rem auto;
    /* align-items: center; */
    font-size: 2rem;
    line-height: 1.1;
    /* padding: 8rem 1rem; */
    padding-top: 7.2vh;
    padding-left: 1rem;
    /* justify-content: end; */
    background-image: url(./imgs/header-bckgr.png);
    background-size: cover;
    background-position-x: right;
    background-position-y: bottom;
    height: 100vh;
    margin-top: 7.2vh;
}

.header-text {
    padding-left: 5rem;
    padding-top: 3rem;
    width: 50%;
}

.header-frontend {
    color: #EC5C8C;
    font-weight: bold;
}

.about {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    padding: 0 5rem 2rem 5rem;
    height: 100vh;
    background-color: #2E2E2E;
}

.about-text {
    width: 50%;
    align-self: center;
}

.about-text p {
    text-align: right;
}

.about-img {
    align-self: center;
    width: 50%;
}

.about-img img {
    height: 70vh;
}

.skills {
    display: flex;
    justify-content: space-around;
    font-size: 1.5rem;
    padding: 0 5rem 2rem 5rem;
    height: 100vh;
}

.skills-text {
    width: 50%;
    align-self: center;
    padding-right: 2rem;
}

.skills-img {
    align-self: center;

    width: 50%;
}

.skills-img img {
    height: 70vh;
}

.projects {
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem 2rem 5rem;
    height: 100vh;
    background-color: #2E2E2E;
}


.projects-title {
    font-size: 1.5rem;
}

.projects-slider {
    width: 750px;
    height: 450px;
    align-self: center;
    border-radius: 2rem;
    border: 3px solid #EC5C8C;
    position: relative;
    overflow: hidden;
}

.projects-slider-img {
    /* height: 70vh; */

    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.projects-slider-img.active {
    opacity: 1;
}

.controls {
    opacity: 1;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    z-index: 1;
    opacity: 50%;
}

.controls:hover {
    opacity: 100%;
    cursor: pointer;
}

.right-arr {
    right: 10px;
    /* transform: scale(-1, 1); */
}

.left-arr {
    left: 10px;
}

.contacts {
    display: flex;
    flex-direction: column;
    padding: 2rem 5rem 2rem 5rem;
    height: 100vh;
    align-items: start;
}

.feedback-title {
    font-size: 1.5rem;
}

.feedback-form {
    /* height: 50%; */
    text-align: left;
}

/* .contacts-list {
    height: 20%;
} */

.form-row {
    font-size: 1.5rem;
    display: flex;
    justify-content: right;
    gap: 3rem;
}

.email-push label,
.name-push label {
    font-size: 1.2rem;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

.email-push input,
.name-push input {
    width: 20rem;
    padding: 1rem 1rem;
    border-radius: 1rem;
    border: 1px solid #EC5C8C;
    background-color: #242424;
    color: white;
}

.message--push {
    font-size: 1.2rem;
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
}

.message--push label {
    padding-right: 40rem;
}

.message--push textarea {
    width: 45rem;
    margin: 0 auto;
    padding: 1rem 1rem;
    border-radius: 1rem;
    border: 1px solid #EC5C8C;
    background-color: #242424;
    color: white;
}

.form-btn {
    margin: 0;
}

#SendMessage {
    font-size: 0.7rem;
    background-color: #242424;
    margin-bottom: 2rem;
    padding: 0.5rem 0.7rem;
    text-align: center;
    /* width: 15rem; */
    border-radius: 1rem;
    border: 1px solid #EC5C8C;
    color: #EC5C8C;
    /* transition: 4s; */
    /* border: 0.2rem solid transparent; */
    /* color: #D3D0D0; */
}

#SendMessage:hover {
    background-color: #EC5C8C;
    color: white;
    cursor: pointer;
}

.contacts-list {
    display: flex;
    justify-content: left;
    gap: 3rem;
    width: 45rem;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    border: 1px solid #EC5C8C;
    background-color: #242424;
    color: white;
    font-size: 1rem;
}

.contacts-phone,
.contacts-email {
    /* font-size: 1.2rem; */
    display: flex;
    /* align-items: flex-start;
    flex-direction: row; */
}

.icns {
    scale: 0.5;
}

/* .btn {
    background-color: rgba(255, 255, 255, 0.5);
    font-size: 0.9rem;
    padding: 0.5rem 0.7rem;
    text-align: center;
    border-radius: 1rem;
}

.btn:hover {
    background-color: #EC5C8C;
    color: white;
} */

/* .slider-img.active {
    opacity: 1;
}